body {
    background: rgb(182, 176, 176);
}

.header {
    background: rgb(39, 38, 38);
    display: block;
    position: fixed;
    margin-bottom: 1%;
    top: 0;
    left: 0;
    right: 0;
    color: azure;
}

.element {
    text-align: center;
    margin-left: 50px;
    float: left;
}

.elements {
    text-align: center;
    margin-left: 30px;
    float: right;
}

.elements input {
    transform: translateY(65%);
}

.profile {
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 50%;
    margin-right: 10px;
    transform: translateY(29%);
    background: rgb(226, 226, 226);
}

footer {
    background: rgb(36, 35, 35);
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.columns {
    margin-top: 4%;
    margin-bottom: 4%;
}

section, aside, article {
    background: white;
    color: black;
    text-align: center;
}

#feature, #status {
    float: left;
    padding-bottom: 5%;
    width: 20%;
    margin:0.5%;
}

#category{
    float: left;
    /* padding-bottom: 12%; */
    width: 62%;
    margin: 0.5%;
}

#stories, #management, #recent{
    float: right;
    /* padding-bottom: 3%; */
    width: 15%;
    margin: 0.5%;
}

#statistics{
    float: right;
    padding-bottom: 3%;
    width: 30%;
    margin: 0.5%;
}

#sub{
    float: left;
    padding-bottom: 3%;
    width: 30%;
    margin: 0.5%;
}
