

section {
    float: left;
    display: flexbox;
    width: 32.3%;
    /* height: fit-content; */
    height:310px;
    margin: 0.5%;
    text-align: center;
    background: white;
}

section:hover{
    cursor: pointer;
}

.row:after {
    clear: both;
    height: 60px;
}
