

section {
    float: left;
    display: flexbox;
    width: 32.3%;
    height: fit-content;
    margin: 0.5%;
    text-align: center;
    background: white;
}

section:hover{
    cursor: pointer;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}



footer {
    background: rgb(36, 35, 35);
    color: white;
    overflow: hidden;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}