header {
    background: rgb(39, 38, 38);
    color: azure;
    display: block;
    left: 0;
    right: 0;
    top: 0;
}

.element {
    float: left;
    padding-left: 2%;
    margin-left: 5%;
    vertical-align: middle;
}

.tables {
    float: right;
    margin-right: 2%;
}

td {
    width: 40%;
    text-align: center;
    vertical-align: middle;
}

#signout {
    background: rgb(39, 38, 38);
    color: white;
    border-radius: 10px;
    border: 0px;
    transition: all 0.2s ease-in;
}

#signout:hover {
    background: rgb(29, 28, 28);
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    border: 0px;
    transition: all 0.2s ease-in;
}

.profile {
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 50%;
    background: rgb(226, 226, 226);
}

footer {
    background: rgb(36, 35, 35);
    color: white;
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}