 header {
    background: rgb(39, 38, 38);
    overflow: hidden;
    color: azure;
    /* position: fixed;
    left: 0;
    right: 0;
    top: 0; */
}

header:after {
    content: "";
    display:inline-flexbox;
    clear: both;
}

.element {
    float: left;
    padding-left: 2%;
    margin-left: 5%;
}

.tables {
    float: right;
    margin-right: 2%;
}

#menu td {
    width: 40%;
    text-align: center;
}

.profile {
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 50%;
    background: rgb(226, 226, 226);
}



section:hover{
    cursor: pointer;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#product, Link{
    width: 100%;
    text-align: center;
}

#product thead,#product tbody{
    background: white;
}

#product td, #product th{
    padding: 30px;
}

#product td:hover{
    cursor: pointer;
}

footer {
    background: rgb(36, 35, 35);
    color: white;
    overflow: hidden;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
} 