#product tr {
    display: block;
    float: left;
    margin: 1.5rem;
    padding: 1rem 0.5rem 0.5rem 1rem;
    background: white;
    box-shadow: 0 0 1rem black;
    text-align: center;
}

#product td {
    display: block;
    text-align: left;
    margin: 0 0.5rem 0.5rem 0;
    width: 100%;
}

#product td img{
    margin: 0px;
    width:400px;
    height:200px;
    border-radius: 0%;
    background:rgb(128, 127, 127); 
    
}

#product button{
    display: flex;
    flex-flow: wrap;
}

.row:after {
    clear: both;
    height: 60px;
}
