/* form {
    margin: 0.5rem;
    padding: 1rem;
    background: white;
    box-sizing: border-box;
}

.column {
    margin: 0.5rem;
}

fieldset legend {
    font-size: x-large;
}

.error {
    color: #db2269;
    font-size: small;
    display: block;
}

.column button:disabled {
    background: rgb(38, 38, 44);
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: 0px;
    transition: all 0.2s ease-in;
}

.column button:disabled:hover{
    background: rgb(38, 38, 44);
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: 0px;
    transition: all 0.2s ease-in;
}

.row:after {
    clear: both;
    height: 60px;
}

.column input[type=text], .columns input[type=file], .columns #price{
    display: block;
    text-align: left;
    padding: 10px;
    background: rgb(189, 188, 188);
    border: 0px;
    box-sizing: border-box;
    width:180px;
    margin: 0.5rem 0 0rem 0;
    transition: all 0.4s ease-in;
} */